@mixin parrafo-estilo($color, $tamaño, $interlineado) {
  font-family: Arial, sans-serif;
  font-size: $tamaño;
  line-height: $interlineado;
  color: $color;
  margin-bottom: 1em;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} /* 1rem=10px */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
//utilidades
p {
  @include parrafo-estilo(red, 1.5rem, 1.5);
}
.p-margin {
  margin: top 1px;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}

// Animación personalizada (vibrar)
@keyframes vibrar {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
// Archivo: _mixins.scss

// Definimos el mixin
